---
import { UserCircle } from "lucide-react";
import SectionTitle from "./ui/SectionTitle";
let age = new Date().getFullYear() - 2003;
---

<section class="pb-10 md:pb-6">
  <div class="mx-8 mt-8 mb-8">
    <SectionTitle title="Sobre Mí" icon={UserCircle} />
  </div>
  <!-- card background -->
  <div
    id="about-me-card"
    class="rounded-xl overflow-hidden transition-transform duration-300 ease-in-out md:hover:scale-[1.02]"
  >
    <div class="p-4 md:p-10">
      <article
        class="relative overflow-hidden rounded-md shadow-lg shadow-black/20"
      >
        <div
          class="absolute inset-0 bg-gradient-to-br
      from-zinc-100/60 via-white/90 to-zinc-200/40
      bg-zinc-600/35
      dark:from-blue-950/70 dark:via-blue-900/75 dark:to-slate-800/60
      dark:bg-blue-900/75
      backdrop-blur-sm pointer-events-none z-0"
        >
        </div>
        <!-- content (above background) -->
        <div class="relative z-10 p-6 md:p-10 max-w-3xl mx-auto">
          <div
            class="font-diagraphetc text-[0.95rem] md:text-[1.25rem] leading-relaxed md:leading-8 text-gray-700 dark:text-gray-300 space-y-4 md:space-y-8 tracking-wide font-light"
          >
            <p class="anim-p anim-delay-1">
              Tengo {age} años y soy oriundo de Buenos Aires, Argentina. Actualmente
              estoy cursando la carrera de Técnico Universitario en Programación
              en la Universidad Tecnológica Nacional (UTN). A lo largo de la carrera
              hemos adquirido una sólida base de programación y resolución de problemas.
            </p>

            <p class="anim-p anim-delay-2">
              Me apasiona el desarrollo web front-end y disfruto creando
              interfaces de usuario atractivas y funcionales. Me encanta
              aprender nuevas tecnologías y mejorar mis habilidades
              constantemente. Disfruto trabajando en proyectos desafiantes que
              me permiten crecer profesionalmente y aportar soluciones
              innovadoras.
            </p>

            <p class="anim-p anim-delay-3">
              En mi tiempo libre, me gusta explorar nuevas tendencias en diseño
              web, escuchar música y aprender sobre desarrollo de videojuegos
              con Unity.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<style>
  @media (min-width: 480px) {
    .anim-p:hover {
      opacity: 1;
      animation: slideFadeIn 0.8s ease-out forwards;
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
      transition: filter 0.8s ease-out;
    }

    .anim-delay-1 {
      transform: translateY(15px);
      animation-delay: 0.1s;
    }
    .anim-delay-2 {
      transform: translateY(15px);
      animation-delay: 0.3s;
    }
    .anim-delay-3 {
      animation-delay: 0.5s;
    }

    @keyframes slideFadeIn {
      0% {
        opacity: 0;
        transform: translateY(15px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
        transition:
          opacity 0.8s ease-out,
          transform 0.8s ease-out;
      }
    }
  }
</style>
